swagger: '2.0'
info:
  title: HDFC Life AppSub API
  description: API for handling application submission
  version: '1.0'
host: publish623.adobedemo.com
basePath: /content
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

paths:
  /hdfclife-endpoint:
    get:
      summary: Submit application details
      description: Submits application details and returns quote information
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AppSubRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AppSubResponse'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponse'

definitions:
  SimpleResponse:
    type: object
    properties:
      message:
        type: string
        example: "servlet worked"
        description: "Simple confirmation message"

  AppSubRequest:
    type: object
    required:
      - head
      - body
    properties:
      head:
        type: object
        required:
          - source
          - userid
          - txnid
        properties:
          source:
            type: string
            example: "OCP_ONLINE"
          userid:
            type: string
            example: "pindianbank1"
          txnid:
            type: string
            example: "17c07009-8b06-4fe9-873e-5952067a1650"
      body:
        type: object
        required:
          - quotedtls
        properties:
          quotedtls:
            type: object
            required:
              - sumAssured
              - term
              - lifeassured
            properties:
              isExCustomer:
                type: string
                example: "N"
              age:
                type: string
                example: "40"
              sumAssured:
                type: string
                example: "10000000"
              term:
                type: string
                example: "36"
              lifeassured:
                type: array
                items:
                  type: object
                  properties:
                    fname:
                      type: string
                    lname:
                      type: string
                    dob:
                      type: string
                    gender:
                      type: string
                    email:
                      type: string
                    mobno:
                      type: string

  AppSubResponse:
    type: object
    properties:
      head:
        type: object
        properties:
          status:
            type: string
          stausCode:
            type: string
          statusMsg:
            type: string
          userid:
            type: string
          txnid:
            type: string
          errordetails:
            type: string
      body:
        type: object
        properties:
          quoteid:
            type: string
          appno:
            type: string
          uwtype:
            type: string
          qniproduct:
            type: string
          instype:
            type: string
          magnumbenefit:
            type: string
          minfactor:
            type: string
          mymixid:
            type: string
          outputjsillustration:
            type: object
            properties:
              nextPremDDt:
                type: string
              premwodisc:
                type: number
              KTAX:
                type: number
              totPremium:
                type: number
              threeMnthPrem:
                type: number
              prodname:
                type: string
              new_ill_chngs_eff_dt:
                type: string
              annPremium:
                type: number
              quoteid:
                type: string
              backdttax:
                type: number
              sumAssured:
                type: string
              premium:
                type: number
              chMap:
                type: string
              GST_RT:
                type: number
              ST_RT:
                type: number
              saOnDeath:
                type: number
              uin:
                type: string
              id:
                type: string
              ResIndFlg:
                type: boolean
              twoMnthPrem:
                type: number
              appnum:
                type: string
              backdtpremium:
                type: number
              POD:
                type: object
                properties:
                  nextPremDDt:
                    type: string
                  gstrt_rop:
                    type: string
                  amr:
                    type: string
                  life_opt:
                    type: string
                  freq:
                    type: string
                  gstrt_nonrop:
                    type: string
                  pps_life_flg:
                    type: string
                  pps_flg:
                    type: string
                  gstrt_2yr:
                    type: string
                  sumAssured:
                    type: string
                  rop:
                    type: string
                  spouse_name:
                    type: string
                  paymethod:
                    type: string
                  scb:
                    type: string
                  wopdis:
                    type: string
                  saf:
                    type: string
                  term:
                    type: string
                  adb:
                    type: string
                  suboption:
                    type: string
                  pps_mop_flg:
                    type: string
                  instapremium:
                    type: number
                  pla:
                    type: string
                  pps_life_pyrt:
                    type: string
                  dbi:
                    type: string
                  gstrt:
                    type: string
                  DeathSA:
                    type: number
                  ppt:
                    type: string
                  lifeStage:
                    type: string
                  agentname:
                    type: string
                  tobsts:
                    type: string
                  tagline:
                    type: string
                  topupOpt:
                    type: string
                  option:
                    type: string
                  wopCI:
                    type: string
              jnk:
                type: string
              qtDt:
                type: string
              incpDt:
                type: string
              mt_rt:
                type: number
              appTax:
                type: number
              EC_RT:
                type: number
              txBkDt:
                type: number
              nxtYrTax:
                type: number
              RD:
                type: object
                additionalProperties: true
              bkdttax_rider:
                type: number
              premwor:
                type: number
              isservice:
                type: string
              firstriderPremium:
                type: number
              V10Flag:
                type: boolean
              partyid:
                type: string
              totAnnPremium:
                type: number

  ErrorResponse:
    type: object
    properties:
      head:
        type: object
        properties:
          status:
            type: string
            example: "Error"
          stausCode:
            type: string
            example: "500"
          statusMsg:
            type: string
          errordetails:
            type: string 