swagger: '2.0'
info:
  title: HDFC Life AppSub API
  description: API for handling application submission
  version: '1.0'
host: publish623.adobedemo.com
basePath: /content
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

paths:
  /hdfclife-endpoint:
    get:
      summary: Submit application details
      description: Submits application details and returns quote information
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AppSubRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AppSubResponse'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponse'

definitions:
  SimpleResponse:
    type: object
    properties:
      message:
        type: string
        example: "servlet worked"
        description: "Simple confirmation message"

  AppSubRequest:
    type: object
    required:
      - head
      - body
    properties:
      head:
        type: object
        required:
          - source
          - userid
          - txnid
        properties:
          source:
            type: string
            example: "OCP_ONLINE"
          userid:
            type: string
            example: "pindianbank1"
          txnid:
            type: string
            example: "17c07009-8b06-4fe9-873e-5952067a1650"
      body:
        type: object
        required:
          - quotedtls
        properties:
          quotedtls:
            type: object
            required:
              - sumAssured
              - term
              - lifeassured
            properties:
              isExCustomer:
                type: string
                example: "N"
              age:
                type: string
                example: "40"
              sumAssured:
                type: string
                example: "10000000"
              term:
                type: string
                example: "36"
              lifeassured:
                type: array
                items:
                  type: object
                  properties:
                    fname:
                      type: string
                    lname:
                      type: string
                    dob:
                      type: string
                    gender:
                      type: string
                    email:
                      type: string
                    mobno:
                      type: string

  AppSubResponse:
    type: object
    properties:
      head:
        type: object
        properties:
          status:
            type: string
            example: "Success"
          stausCode:
            type: string
            example: "200"
          statusMsg:
            type: string
            example: "OK"
          userid:
            type: string
          txnid:
            type: string
          errordetails:
            type: string
      body:
        type: object
        properties:
          quoteid:
            type: string
          appno:
            type: string
          uwtype:
            type: string
          outputjsillustration:
            type: object
            properties:
              nextPremDDt:
                type: string
              premwodisc:
                type: number
              totPremium:
                type: number
              sumAssured:
                type: string
              POD:
                type: object
                properties:
                  term:
                    type: string
                  sumAssured:
                    type: string
                  option:
                    type: string

  ErrorResponse:
    type: object
    properties:
      head:
        type: object
        properties:
          status:
            type: string
            example: "Error"
          stausCode:
            type: string
            example: "500"
          statusMsg:
            type: string
          errordetails:
            type: string 